<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>       
        <property name="hibernate.connection.url">jdbc:derby:Nutrii;create=true</property>

        <property name="hibernate.default_schema">Nutrii</property>
      
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.show_sql">true</property>     
<!--        <property name="hibernate.format_sql">true</property>
        <property name="use_sql_comments">true</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
                        <!--MAPPING CLASSES-->
        <mapping class="nutrii.application.model.FoodItem"/>   
        <mapping class="nutrii.application.model.Meal"/>
        
        <mapping class="nutrii.application.model.Compounds"/>
        <mapping class="nutrii.application.model.Minerals"/>
        <mapping class="nutrii.application.model.Vitamins"/>
        <mapping class="nutrii.application.model.Nutrients"/>
        
        <mapping class="nutrii.application.model.User"/>
        <mapping class="nutrii.application.model.Sedentary"/>
        <mapping class="nutrii.application.model.LightlyActive"/>
        <mapping class="nutrii.application.model.ModeratelyActive"/>
        <mapping class="nutrii.application.model.VeryActive"/>
        <mapping class="nutrii.application.model.ExtraActive"/>
       
    </session-factory>
</hibernate-configuration>
